@import "variables/_variables";
@import "typography/_typography";
@import "nav/nav";
@import "productos/productos";

header {
  background: $gris;
  #header_top {
  }
  #top_header {
    margin-bottom: 2vh;
    #top_titulo {
      text-transform: uppercase;
      color: $naranja;
      font-weight: bold;
      text-shadow: #000000bf 2px 2px 3px;
      text-align: center;
      font-size: 1.5rem;

    }

  }
}

.top_boton {
  border: $naranja 2px solid;
  border-radius: 10px;
  padding: 5px;
  color: $naranja;
}

#menu_banner_top {
  margin-bottom: 20px;
  #top_menu {
    list-style: none;
    margin: 2rem 1rem;
    padding: 0px;
    li {
      height: auto;
      width: 90%;
      a {
        border: 2px $gris solid;
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        display: block;
        margin: 7px 0px;
        color: $gris_oscuro;
        font-style: italic;
      }
    }
  }
}

#main_content {

}

#home_tiles {
  h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .home_tile {
    height: 300px;
    padding-top: 50px;
  }
  span.home_tile_icon {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    width: 46%;
    margin: 0 auto;
    display: block;
  }
}

//busqueda
#cuadro_busqueda{
  border: solid $naranja 2px;
  border-radius: 15px;
  padding: 2rem;
}

.naranja_bg {
  background: $naranja;
}

.verde_bg {
  background: $verde;
}

.gris_bg {
  background: $gris;
}

.azul_bg {
  background: $azul;
}

.aqua_bg {
  background: $aqua;
}

.negro_gb {
  background: #000;
}

footer {
  background: $gris;
  height: 30vh;
  margin-top: 5vh;
  padding: 10px 0px;
  ul {
    list-style: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header {
    height: 21vh;
    #top_header {
      padding-top: 2vh;

      .top_boton {
        padding: 3px;
        font-size: .75rem;
        margin: 5px 5px;
        height: 27px;
        display: block;
        width: fit-content;
        float: left;

      }
    }
  }


  #home_tiles {
    h2 {
      font-size: .75rem;
    }
    .home_tile {
      height: 180px;
    }
    span.home_tile_icon {
      font-size: 3rem;
    }
  }
  footer {
    height: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}