@import "categorias";
@import "filtro";



//vista individual
.codigo_propiedad{
  background: $naranja;
  color: #ffffff;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.thumb {
  height: 120px;
}

.img_wreapper {
  width: 100%;
  height: 49vh;
  overflow: hidden;
}
.thumb_img_wreapper {
  float: left;
  margin: 2px;
}
.img_zoom_icon{
  position: absolute;
  right: 19px;
  top: 45vh;
  color: white;
  font-size: 2rem;
}
#precio_propiedad_v{
  color: $naranja;
  font-weight: bold;
  font-size: 3rem;
}

.caracteristicas_propiedades{
  color: $naranja;
}

#casas_perfil{
  .carousel {
    min-height: 251px;
    overflow: hidden;
    height: 251px;
  }

}